#wrapper {
	width: 860px;
	height: 680px;
	margin: auto;

}
body{	background-image: url('pics/BODY2.png');background-repeat:no-repeat;background-color:black;}
.clear
{
height:60px;
clear:both;
}

.board{
	padding-left:150px;
	margin: auto;
	background-image: url('pics/meeage1.png');	
	width:20%;
	height:100%;
}


#messages {
margin-left:-148px;
padding:470px;
padding-left:25px;
	width: 377px;
	font-family: Helvetica;
}

.button {
display: block;
font: normal 12px arial, sans-serif;
height: 25px;
text-decoration: none;
width: 272px;
text-align: center;
}