#wrapper {
	width: 860px;
	height: 680px;
	margin: auto;

}
body{	background-image: url('pics/BODY2.png');background-repeat:no-repeat;background-color:black;
}
.clear
{
height:10px;
clear:both;
}
p{color:white; font-size:1.5em; }
.clear1
{
height:15px;
clear:both;
}

.board{
	padding-left:150px;
	margin: auto;
	background-image: url('pics/meeage1.png');	
	width:20%;
	height:100%;
}



#messages {
margin-left:-151px;
padding:440px;
padding-left:25px;
	width: 377px;
	font-family: Helvetica;
}
textarea:focus{
	background-color:#FFF8DC;
}
.button {
color:#CC99FF;
background:#000033;
border-radius: 15px 15px 15px 15px; 
display: block;
font: normal 12px arial, sans-serif;
height: 25px;
text-decoration: none;
width: 75px;
text-align: center;
margin-left:102px;
}
footer{font-family: 'Loved by the King', cursive;}

#top{
	background:black;
}